/* AXES */
/* ticks */
.axis line {
    stroke: #706f6f;
    stroke-width: 0.5;
    shape-rendering: crispEdges;
}

/* axis contour */
.axis path {
    stroke: #706f6f;
    stroke-width: 0.7;
    shape-rendering: crispEdges;
}

/* axis text */
.axis text {
    fill: #2b2929;
    font-family: Georgia;
    font-size: 120%;
}

/* LINE CHART */
path.line-0 {
    fill: none;
    stroke: #ed3700;
}

path.line-1 {
    fill: none;
    stroke: #2b2929;
    stroke-dasharray: 2;
}

path.line-2 {
    fill: none;
    stroke: #9c9c9c;
    stroke-dasharray: 6;
}

path.line-3 {
    fill: none;
    stroke: #2b2929;
    stroke-dasharray: 4;
}

path.line-4 {
    fill: none;
    stroke: #2b2929;
    stroke-dasharray: 4;
}

path.line-5 {
    fill: none;
    stroke: #2b2929;
    stroke-dasharray: 4;
}

path.line-6 {
    fill: none;
    stroke: #2b2929;
    stroke-dasharray: 4;
}

path.line-7 {
    fill: none;
    stroke: #2b2929;
    stroke-dasharray: 4;
}
path.line-8 {
    fill: none;
    stroke: #2b2929;
    stroke-dasharray: 4;
}
path.line-9 {
    fill: none;
    stroke: #2b2929;
    stroke-dasharray: 4;
}
path.line-10 {
    fill: none;
    stroke: #2b2929;
    stroke-dasharray: 4;
}
path.line-11 {
    fill: none;
    stroke: #2b2929;
    stroke-dasharray: 4;
}
path.line-12 {
    fill: none;
    stroke: #2b2929;
    stroke-dasharray: 4;
}
path.line-13 {
    fill: none;
    stroke: #2b2929;
    stroke-dasharray: 4;
}


.country_label {
    fill: #2b2929;
    font-family: Georgia;
    font-size: 80%;
}

