* {
    box-sizing: border-box;
}

/* Makes all titles centre aligned */
.title {
  text-align: center;
  padding-bottom: 10px;
  margin-top: 10px;
}

/* Adds a space above the headings */
.war-data-heading {
  padding-top: 10px;
}

/* Adds margins to the row div */
.row {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Customises the dimensions for the card */
.card {
  height: 410px;
  width: 420px;
  margin: 0 auto;
  padding-top: 7px;
}

/* Adds box shadow to the card on hover */
.card:hover {
  box-shadow: 1px 1px 5px #262626;
}

/* Changes the size of the card image */
.chart-image.card-img-top {
  width: 400px;
  height: 300px;
  margin: 0 auto;
}

/* Changes the dimensions of the picture */
.war-image.img-thumbnail {
  /* width: 400px; */
  height: 280px;
}

/* Adds a box shadow to the image on hover */
.war-image.img-thumbnail:hover {
  box-shadow: 1px 1px 5px #262626;
}

/* Adds a space above the container div */
.container.visualisation {
  margin-top: 40px;
}

/* Changes the size of the container for the charts on the home page */
.sm-column.charts {
  width: 500px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 15px;
}

/* Changes the size of the container for the wars on the home page */
.sm-column.wars {
  width: 400px;
  text-align: center;
  margin: 0 auto;
}

/* Changes the size of the container for the war text */
.container.war-data-text {
  margin-top: 50px;
  margin-right: 30px;
}

/* Changes the size and positioning of the images */
img.image {
  border: 1px solid rgb(209, 208, 208);
  width: 500px;
  margin-left: 15px;
}

/* Changes the description on the landing pages */
.landingDescription {
  text-align: center;
  /* margin-left: 100px; */
}

/* Changes the reference text */
.r {
  margin-bottom: 0px;
  margin-left: 5px;
  font-size: 10px;
  color:chocolate;
}

/* Removes text decoration for the link in the references */
.r a {
  text-decoration: none;
}

/* Changes the colour of hover for the link in the references and titles */
.r.title a:hover, .r a:hover {
  color: #7c7c7c;
}

/* Changes the colour of the link for references when visited */
.r a:visited {
  color: black;
}

/* Changes the menubar */
.topnav {
  overflow: visible;
  background-color:#262626;
  height: 75px;
}

/* Changes the links on the menubar (buttons) */
.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-left: 40px;
  border: solid 1px white;
  padding: 6px;
  margin-top: 15px;
  border-radius: 8px;
}

/* Changes the actual dropdown menu */
.dropdown {
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  margin-left: 15px;
  border: solid 1px white;
  margin-top: 15px;
  border-radius: 8px;
}

/* Changes the dropdown menu background */
#dropdownMenuButton {
  color: white;
}

/* Changes the dropdown menu on hover */
#dropdownMenuButton:hover {
  color: #262626;
  background-color: white;
}

/* Changes the links on the dropdown menu */
#dropdownMenuButton a {
  color: #262626;
}

/* Changes the separate dropdown menu items (links) */
.dropdown-menu li a {
  display: block;
  color: #262626;
  clear: both;
  white-space: nowrap;
  background-color: transparent;
  margin: 1px;
  padding: 3px 20px;

}

/* Changes the dropdown menu links on hover */
.dropdown-menu li a:hover {
  color: #7c7c7c;
}

/* Changes the menubar links on hover */
.topnav a:hover {
  background-color: #ffffff;
  color: #262626;
}

.topnav a.active {
  background-color: white;
  color: #262626;
}

/* Changes the buttons on hover */
.button:hover {
    background-color: #ffffff;
    color: #262626;
}

/* Changes the search container */
.topnav .search-container {
  float: right;
  margin-right: 40px;
  margin-top: 15px;
}

/* Changes the input box */
.topnav input[type=text] {
  padding: 6px;
  font-size: 17px;
  border: none;
}

/* Changes the search icon */
.topnav .search-container #icon {
    height: 40px;
    width: 40px;
}

/* Changes the menubar, search container and button on hover */
.topnav .search-container button:hover {
  background: #ffffff;
  color: #262626;
}

/* Changes the screen */
@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }

  /* Changes the menubar itself */
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    left: 200px;

  }

  /* Changes the input box for search function */
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }

  /* The fontface for the search bar */
  @font-face {
    font-family: 'FontAwesome';
    src: url('your/path/fontawesome-webfont.eot?v=3.0.1');
    src: url('your/path/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
      url('your/path/fontawesome-webfont.woff?v=3.0.1') format('woff'),
      url('your/path/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/*data story layout*/
/*set for story card*/
.ppp1{
position:absolute;
width:800px;
height: 650px;
border-radius:20px; /*make the border corner round*/
background-color: #ffffff;
box-shadow: 5px 10px 60px #262626; /*make the shadow*/
}
/*flexibale box for layout and make all cards in the same veritical line*/
.bb1{
width: 90vw;
height:90vh;
display:flex;
justify-content:center;/*elements are centered on the main axis page*/
align-items:center;/*the alignment of elements along the vertical axis of the current row on the main axis(page)*/
margin: auto/*center the elements horizontally,means 0 px for top and bottom*/

}

.picc1 img{
justify-content:center;/*set all pics to 100% means the pics of each cards could fill the entire top of card*/
width:100%;

}
.kk{
width: 90vw;
height:90vh;
display:flex;/*flexibale box for layout and make all cards in the same veritical line*/
justify-content:center;/*elements are centered on the main axis page*/
align-items: center;/*the alignment of elements along the vertical axis of the current row on the main axis(page)*/
margin: auto/*center the elements horizontally,means 0 px for top and bottom*/

}
/*set for title texts*/
.pot{
font-size: large;
color:steelblue; /*for title*/
font-weight: bold;

}

.tet1 {
position: absolute;

  }
/*set for story card,all the same layout for all war story pages,only the height has difference according to different length of war stories*/
  .ppp2{
    position:absolute;
    width:800px;
    height: 790px;
    border-radius:20px;
    background-color: #ffffff;
    box-shadow: 5px 10px 60px #262626;/*make the shadow*/
    }
/*set for story card*/
.ppp3{
      position:absolute;
      width:800px;
      height: 750px;
      border-radius:20px;
      background-color: #ffffff;
      box-shadow: 5px 10px 60px #262626;/*make the shadow*/
      }
      /*set for story card*/
.ppp0{
      position:absolute;
      width:800px;
      height: 840px;
      border-radius:20px;
      background-color: #ffffff;
      box-shadow: 5px 10px 60px #262626;/*make the shadow*/
      }
      /*set for story card*/
.ppp11{
      position:absolute;
      width:800px;
      height: 630px;
      border-radius:20px;
      background-color: #ffffff;
      box-shadow: 5px 10px 60px #262626;/*make the shadow*/
}
/*set for story card*/
.ppp12{
  position:absolute;
  width:800px;
  height: 670px;
  border-radius:20px;
  background-color: #ffffff;
  box-shadow: 5px 10px 60px #262626;/*make the shadow*/
}
/*set for story card*/
.ppp6{
  position:absolute;
  width:800px;
  height: 250px;
  border-radius:20px;
  background-color: #ffffff;
  box-shadow: 5px 10px 60px #262626;/*make the shadow*/
  }
  /*set for story card*/
  .ppp7{
    position:absolute;
    width:800px;
    height: 920px;
    border-radius:20px;
    background-color: #ffffff;
    box-shadow: 5px 10px 60px #262626;/*make the shadow*/
    }
    /*set for story card*/
    .ppp8{
      position:absolute;
      width:800px;
      height: 880px;
      border-radius:20px;
      background-color: #ffffff;
      box-shadow: 5px 10px 60px #262626;/*make the shadow*/
      }
      /*set for story card*/
      .ppp5{
        position:absolute;
        width:800px;
        height: 860px;
        border-radius:20px;
        background-color: #ffffff;
        box-shadow: 5px 10px 60px #262626;/*make the shadow*/
        }
        /*set for story card*/
      .ppp9{
        position:absolute;
        width:800px;
        height: 890px;
        border-radius:20px;
        background-color: #ffffff;
        box-shadow: 5px 10px 60px #262626;/*make the shadow*/
          }
          
.war-data-heading2 {
  color:red;
  font-weight: bold;
  
}
